body {
	background-color: #3C5A63;
}

body,html {
	min-height: 100%;
}

.bg--white {
	background-color: #fff;
}

.title {
	text-transform: uppercase;
}

.h3 {
	font-size: 18px;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.tac {
	text-align: center;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.input-label {
	display: block;
	margin-bottom: 5px;
}

.input-container {
	margin-bottom: 15px;
}

.input-container:last-child {
	margin-bottom: 0;
}

.input {
	height: 40px;
	line-height: 40px;
	border: 1px solid #000;
	padding-left: 10px;
	padding-right: 10px;
	width: 320px;
}

.input[type="password"] {
	letter-spacing: 5px;
}

.input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    letter-spacing: 0;
}
.input[type="password"]::-moz-placeholder { /* Firefox 19+ */
    letter-spacing: 0;
}
.input[type="password"]:-ms-input-placeholder { /* IE 10+ */
    letter-spacing: 0;
}
.input[type="password"]:-moz-placeholder { /* Firefox 18- */
    letter-spacing: 0;
}

.btn {
	padding: 9px 16px;
	min-width: 150px;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.btn--primary {
	background-color: #3C5A63;
	color: #fff;
}

.btn--primary:hover {
	background-color: #4B8699;
}

.btn--primary:active {
	box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,.2);
}

.notification {
	background-color: #fff;
	display: none;
	opacity: 0;
	transition: .3s ease-in-out;
	width: 300px;
	padding: 7px 15px;
	position: fixed;
	right: 15px;
	bottom: 15px;
}

.notification.shown {
	opacity: 1;
}

.content {
	background: #fff;
	max-width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.content__title {
	border-bottom: 1px solid #D8D8D8;
	padding: 15px;
}

.content-left {
	width: 400px;
	float: left;
	border-right: 1px solid #D8D8D8;
	height: 100%;
	overflow-y: hidden;
}

.db-list {
	overflow-y: auto;
}

.db-tables {
	overflow-y: auto;
	transition: .3s ease-in-out;
	padding-left: 30px;
	padding-right: 30px;
	height: 0;
}

.db__title {
	display: block;
	padding: 10px 15px;
	cursor: pointer;
}

.db__title:hover,
.db__title.open {
	background: #F0F5F4;
}

.db__create-container {
	background-color: #F0F5F4;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tables {
	opacity: 0;
	transition: .3s ease-in-out;
}

.tables.shown {
	opacity: 1;
}

.table {
	display: block;
	word-wrap: break-word;
}